In [4]:
import os
from athina.evals import CustomPrompt
from athina.loaders import Loader
from athina.keys import AthinaApiKey, OpenAiApiKey
import pandas as pd

OpenAiApiKey.set_key(os.getenv('OPENAI_API_KEY'))
AthinaApiKey.set_key(os.getenv('ATHINA_API_KEY'))

In [5]:
# Create batch dataset from list of dict objects
raw_data = [
    {
        "query": "What is the capital of Greece?",
        "context": ["Greece is often called the cradle of Western civilization."],
        "response": "Athens",
    },
    {
        "query": "What is the price of a Tesla Model 3?",
        "context": ["Tesla Model 3 is a fully electric car."],
        "response": "I cannot answer this question as prices vary from country to country.",
    },
    {
        "query": "What is a shooting star?",
        "context": ["Black holes are stars that have collapsed under their own gravity. They are so dense that nothing can escape their gravitational pull, not even light."],
        "response": "A shooting star is a meteor that burns up in the atmosphere.",
    }
]

dataset = Loader().load_dict(raw_data)
pd.DataFrame(dataset)

,query,context,response,expected_response
0,What is the capital of Greece?,[Greece is often called the cradle of Western civilization.],Athens,None
1,What is the price of a Tesla Model 3?,[Tesla Model 3 is a fully electric car.],I cannot answer this question as prices vary from country to country.,None
2,What is a shooting star?,"[Black holes are stars that have collapsed under their own gravity. They are so dense that nothing can escape their gravitational pull, not even light.]",A shooting star is a meteor that burns up in the atmosphere.,None

In [7]:
# Checks if the LLM response answers the user query sufficiently
eval_model = "gpt-3.5-turbo"
eval_prompt = """
Based on the coherence of response, give the score ranging from 1 to 5.

User Query: {query}
Response: {response}"""
CustomPrompt(
    eval_prompt=eval_prompt, 
    model=eval_model, 
    output_type="numeric",
    display_name="Response should answer user's query",
).run_batch(data=dataset).to_df()

Error logging eval results to Athina:
Invalid `transaction.dataset_eval_result.createMany()` invocation in
/Users/akshat_g/athina/repos/athina-api/src/services/evalRun.service.ts:309:47

  306   )
  307 }
  308
→ 309 await transaction.dataset_eval_result.createMany(
Foreign key constraint failed on the field: `dataset_eval_result_metric_id_fkey (index)` (Extra Info: No Details)
You can view your dataset at: https://app.athina.ai/develop/f0165b6f-975f-4c70-93c9-e881501773f9

,query,context,response,expected_response,display_name,failed,grade_reason,runtime,model,custom_prompt_score
0,What is the capital of Greece?,[Greece is often called the cradle of Western civilization.],Athens,None,Response should answer user's query,None,The response provided an answer to the user's query.,869,gpt-3.5-turbo,1
1,What is the price of a Tesla Model 3?,[Tesla Model 3 is a fully electric car.],I cannot answer this question as prices vary from country to country.,None,Response should answer user's query,None,The response provided an answer to the user's query.,2008,gpt-3.5-turbo,1
2,What is a shooting star?,"[Black holes are stars that have collapsed under their own gravity. They are so dense that nothing can escape their gravitational pull, not even light.]",A shooting star is a meteor that burns up in the atmosphere.,None,Response should answer user's query,None,The response provided an answer to the user's query.,943,gpt-3.5-turbo,1